button {
    margin: 10px;
}
.blogs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
    .single-blog {
        border: 1px solid grey;
        border-radius: 3px;
        padding: 10px;
        margin: 0 10px;
        max-width: 330px;
        min-width: 250px;

        text-align: left !important;
        .title {
            font-size: 18px;
            font-weight: 600;
        }
        .content {
            padding: 10px 0;
        }
    }
}
.detail-blog {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 3;
    margin: 10px;
    min-height: 100 px;
    content {
        padding-top: 10px;
    }
}
.add-new-blog {
    border: 1px solid gray;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    text-align: left;
    border-radius: 3px;
    padding: 0 10px;
    input {
        border-radius: 3px;
    }
    button {
        width: fit-content;
        border-radius: 3px;
        border: none;
        outline: none;
        float: right;
        margin-left: 0;
    }
}
